.card {
    position: relative;
    display: flex;
    margin-top: 16px;
    top: 444px;
    left: 206px;
    right: 154px;
    width: 920px;
    height: 200px;
}

.regularCard{
    position: absolute;
    display: flex;
    width: 920px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}

.cardRed{
    position: absolute;
    display: flex;
    width: 920px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}