.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.label {
    margin: 0px;
    position: absolute;
    width: 299px;
    height: 48px;
    top: 37px;
    left: 206px;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.linkCont {
    position: absolute;
    display: flex;
    gap: 24px;
    top: 53px;
    left: 906px;
    width: 217px;
    height: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

.subLabel {
    position: absolute;
    width: 414px;
    height: 40px;
    top: 93px;
    left: 206px;
    font-family: Helvetica, sans-serif;
}

.rectangle {
    position: absolute;
    top: 157px;
    left: 206px;
    width: 920px;
    height: 1px;
    background: #000000;
}

.apiKeyBlock {
    position: absolute;
    top: 85px;
    left: 906px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.apiKeyButton {
    padding: 8px 16px;
    background-color: #186dd6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.apiKeyButton:hover {
    background-color: #104d91;
}

.apiKeyInput {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
